<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tweet Fighter II Turbo!</title>
  <link rel="stylesheet" href="/stylesheets/styles.css" media="all">
</head>
<body>
  <div id="player-select">
    <img src="/img/tweet.fighter.2.turbo.png">
  </div>
  <%= yield %>
</body>
</html>