* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

div, body, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  padding-top: 20px;
  background: #000177;
}

.twitter-auth {
  width: 180px;
}

#sign-in {
  text-align: center;
}

#player-select, .summary {
  text-align: center;
  font-size: 3em;
  color: #fdab52;
}

#map {
  text-align: center;
}

#map img {
  width: 600px;
}

#results .player .title {
  padding-top: 30px;
  font-size: 4em;
}

.player {
  width: 30%;
  text-align: center;
  min-height: 150px;
}

.opponent {
  float: left;
  margin: 2px;
  border: 1px solid silver;
  position: relative;
  max-width: 150px;
}

.opponent .handle {
  display: block;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  background: black;
  color: white;
}

.opponent img {
  height: 110px;
}

.opponent a {
  height: 110px;
  display: block;
  overflow: hidden;
}

.vs img {
  width: 188px;
}

.player {
  display: inline-block;
  vertical-align: top;
}

#combatants {
  text-align: center;
}

#combatants .player {
  width: 30%;
  margin-top: 0px;
}

#combatants .vs {
  width: 20%;
  display: inline-block;
}

.player input {
  width: 60%;
  height: 40px;
  font-size: 1em;
  text-align: center;
}

#fight {
  text-align: center;
}

.player .title {
  color: #fdab52;
  font-size: 3em;
}

#characters {
  padding: 2px;
  min-height: 150px;
  overflow: hidden;
  width: 700px;
  margin: 0 auto;
}

.actions {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: left;
}

.actions a {
  color: #fdab52;
}

#sign-out {
  float: right;
}